{%extends "bootstrap/base.html" %}
{% block title %}TOP Page{% endblock %}

{% block content %}
<div class="container">
    <h1>Blog App</h1>
    <a href="/create" role="button">New create</a>
     <a href="/logout" role="button">Logout</a>
    {% for post in posts %}
    <article>
        <h2>{{ post.title }}</h2>
        <a href="/{{post.id}}/update" role="button">Edit</a>
        <a href="/{{post.id}}/delete" role="button">Delete</a>
        <p>Date og creating:{{ post.created_at }}</p>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
</div>
{% endblock %}